*.amx
*.lst
*.asm
dependencies/
pawn.lock
server.cfg
plugins/
pawno/
pawno/include
*.txt
*.json-duplicate
testserver/
.vscode/
*.exe
*.dll
*.so
announce
samp03svr
samp-npc
logs/
server_log.txt
crashinfo.txt
samp.ban
*.sublime-workspace
